.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
public/assets/
.idea/
config/twitter_account.yml
.vagrant
*.box
puppet/manifests/jruby*.tar.gz
puppet/manifests/torquebox*.zip
*.knob
diagnostics.html
