<div>
  <table>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    <% for s in @statuses %>
        <tr>
          <td><%= s[:creator] %></td>
          <td><%= s[:created_at] %></td>
          <td><%= s[:status_text] %></td>
        </tr>
    <% end %>
  </table>
</div>
