<div>
  <table>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>@coolguy</td>
      <td>4/14/11</td>
      <td>Such a great company</td>
    </tr>
    <tr>
      <td>@coolguy</td>
      <td>4/14/11</td>
      <td>Such a great company</td>
    </tr>
    <tr>
      <td>@coolguy</td>
      <td>4/14/11</td>
      <td>Such a great company</td>
    </tr>
  </table>
</div>
